@import "../../../../styles.scss";

nav {
  padding-top: 39px;
  @include dFlex($jc: unset, $ai: unset, $g: 39px);
  flex-direction: column;
  height: 100%;
  &.small_screen {
    padding-top: 135px;
  }
}

.border_wrapper {
  display: flex;
  align-items: flex-end;
  height: 167px;
  > .rectangle {
    height: 52px;
    width: 39px;
    opacity: 1;
    border-left-style: solid;
    border-bottom-style: solid;
  }
  &.small_screen .rectangle{
    height: 24.91px;
    width: 18.68px;
  }
  &:not(.small_screen):not(.webLandscape_screen):hover .rectangle {
    opacity: 0;
  }
  &.small_screen, &.webLandscape_screen {
    height: 80px;
  }
  &.small_screen .justify_wrapper{
    width: 277.84px;
  }
  &.small_screen .justify_wrapper a{
    font-size: 45px;
    line-height: 45px;
  }
  &.small_screen .justify_wrapper .horizontal_line {
    display: none;
  }
}

.justify_wrapper {
  width: 584px;
  @include dFlex($ai: center);
  align-self: center;
  flex-direction: column;
  > a {
    font-family: "Syne";
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -0.025em;
    color: black;
  }
}

.lower_part {
  width: 100%;
  background-color: black;
  clip-path: polygon(0 0, 100% 54%, 100% 100%, 0 100%);
  color: white;
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
  @include dFlex($ai: unset);
  > .content_wrapper {
    max-width: 1440px;
    width: 100%;
    @include dFlex($jc: unset, $g: 10px);
    flex-direction: column;
    > .notes {
      width: 100%;
      @include dFlex($jc: space-between, $ai: unset);
      > .left_part > p {
        font-family: "Overpass";
        font-size: 23px;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: -0.025em;
      }
    }
    h2 {
      cursor: default;
      align-self: baseline;
      &:hover {
        color: $highlight;
      }
    }
  }
  &.small_screen {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }
  &.small_screen .content_wrapper .notes {
    flex-direction: column;
    @include dFlex($jc: space-between, $ai: unset, $g: 28px);
  }
}

.links {
  @include dFlex($g: 42px);
  &.small_screen {
    @include dFlex($jc: flex-end, $g: 42px);
  }
}

.icon_bounce {
  transition: all 100ms ease-out;
  &:not(.small_screen):hover {
    transform: translateY(-10px);
  }
}

.horizontal_line {
  height: 4px;
  background-color: black;
  opacity: 0;
  transform: translateY(33px);
}

@media(max-height: 968px) {
  nav { 
  }
  .rectangle {
    height: 24.91px;
    width: 18.68px;
  }
  .justify_wrapper {
    width: 277.84px;
  }
  .justify_wrapper a {
    font-size: 45px;
    line-height: 45px;
  }
  .justify_wrapper .horizontal_line {
    display: none;
  }
  .border_wrapper {
    height: 80px;
  }
 }

 @media(max-height: 857px) {
  nav {
    padding-top: 50px !important; 
  }
 }

 @media(max-height: 750px) {
  nav {
    @include dFlex($g: 10px);
    flex-direction: column;                             
    padding-top: 0 !important;   
  }
  .lower_part {
    display: none;
  }
 }
