<section id="hero" class="hero_component pad-lr100" appResponsive>
    <div class="hero_content">
        <div class="upper_part">
            <h1>Frontend Developer</h1>
            <div class="second_part" appResponsive>
                <div class="horizontal_line"></div>
                <p>Jennifer Dahm</p>
            </div>
        </div>
        <div class="lower_part" appResponsive>
            <p>hello&#64;jenniferdahm.com</p>
            <div class="scroll_arrow" appResponsive>
                <img [src]="currentImage" alt="arrow">
                <p>{{ 'hero.scroll_down' | translate }}</p>
            </div>
        </div>
    </div>
</section>
